<!DOCTYPE html>
<html>
  <head>
    <title>Project8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/67c808d2ee.js"></script>
  </head>

  <body>
    <header>
    <div class="header">
      <ul>
        <li><%= link_to "Home", "/welcome/index" %></li>
        <li><%= link_to "About", "/about/history" %></li>
        <li><%= link_to "Menu", "/welcome/index" %></li>
        <li><%= link_to "Location", "/location/map" %></li>
      </ul>
    </div>
  </header>

    <%= yield %>

    <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
  </body>
</html>
